*{
	box-sizing: border-box;
	outline-style: none;
	max-height: 100%;
}

html, body{
	height: 100vh;
	background-color:#f8f8f8;
	margin:0;
	display: flex;
	flex-direction: column;
}

button{white-space:nowrap;}

header{
	width: 100%;
	height: 40px;
	box-shadow: 0 0px 2px 0px #333;
				/*blur sprd*/
	background-color: #e6e6e6;
	padding: 4px 4px 0 4px;
	z-index: 1;
	display: flex;
}

.nbutton{
	color: #22292a;
	font-weight: bold;
	height: 36px;
	background-color:inherit;
	border:none;
	border-radius: 6px 6px 0 0;
	font-family: 'Acme', sans-serif;
	
	margin: 0 2px;
	flex: 1;
}

.nbutton:hover, #visited{
	color: #d9d9d9;
	background-color:#339966;
}

.toolbar{
	min-height: 30px;
	position: -webkit-sticky;
	position:sticky;
	top: 0px;
	background-color: #d7d5d5;
	padding: 2px 6px;
	box-shadow: 0 -1px 5px -5px #333 inset;
}

.toolbar div{
	float: left;
}

.tool{
	width: 30px;
	height: 30px;
	background-color: inherit;
	background-repeat: no-repeat;
	background-position: center;
	border-style: none;
	border-radius: 2px;
	cursor: pointer;
	padding: 0;
	margin-right: 10px;
	display: block;
	float: left;
}

.cpy{
	background-image: url("svg/copy.svg");
	width: 20px;
}

.delb{
	background-image: url("svg/clearAll.svg");
	width: 24px;
}

.live{
	background-image: url("svg/live.svg");
	width: 50px;
}

.live.active{
	background-image: url("svg/liveActive.svg");
}

.save{
	background-image: url("svg/save.svg");
	width: 24px;
}

.nw{
	background-image: url("svg/fullScreen.svg");
}

.fs{
	background-image: url("svg/fontSize.svg");
	width: 20px;
}

.run{
	background-image: url("svg/play.svg");
	width: 22px;
}

.tool:active{
	box-shadow : 0px 0px 2px 1px #979595 inset;
}

.material-icons{
	font-size: 22px;
	line-height: 28px;
}

.livei.on{
	color: #2ecc72;
}

.ioc{
	max-height: calc(100% - 70px);
	width: 100%;
	background-color: #e6e6e6;
	display: flex;
	flex: 1;
}

.input, #output{
	width: 100%;
	border:0px solid #ccc;
	font-size:16px;
	flex: 1;
	resize: none;
}

.lnColumn{
	width: 50px;
	height: 100%;
	background-color:#eeeeee;
	line-height: 20px;
	padding: 5px 0;
	text-align: center;
	
	counter-reset: line;
}

.lnCounts{
	counter-increment: line;
}

.lnCounts::before{
	content: counter(line);
}

.input, textarea, .finput{
	color: #22292a;
	font-family: consolas;
	overflow: auto;
	line-height: inherit;
	padding: 5px;
}

.input{
	max-height: 100%;
	position: relative;
}

textarea, .finput{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: inherit;
	border-style: none;
	font-size: inherit;
	resize: none;
	position: absolute;
	top: 0;
	left: 0;
}

pre{
	margin: 0;
	font-family: consolas;
}

.line{
	min-height: 20px;
}

textarea{
	color: #22292a1a;
}

#output{
	display: none;
 	background-color: white;
}

@media only screen and (min-width: 900px){
	header{
		display: none;
	}
	
	.ioc{
		max-height: calc(100% - 30px);
		flex-direction: row;
	}

	.input, #output, .toolbar{
		display: block;
	}

	.toolbar{
		background-color: #e6e6e6;
	}

}